/* Tags */
body
{
    @extend .body;
    height: 100%;
    margin: 0;
}
footer
{
    @extend .body;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
a.clean-link
{
    text-decoration: none;
}
a.clean-link:hover,
a.clean-link:focus
{
    text-decoration: none;
}

/* heights & widths */
.h-min
{
    height: min-content;
}
.w-min
{
    width: min-content;
}
.hx-min
{
    max-height: min-content;
}
.wx-min
{
    max-width: min-content;
}
.hm-min
{
    max-height: min-content;
}
.wm-min
{
    max-width: min-content;
}

/* Shadows */
.shadow
{
    box-shadow: $shadow-box;
}
.shadow-glow
{
    box-shadow: $shadow-glow;
}
.card-shadow
{
    padding: 0;
    box-shadow: $shadow-card;
}

.bold {
    @extend .font-weight-bold;
}

/* Columns */
.col-min {
    @extend .col;
    flex-grow: unset;
    flex-basis: content;
}

/* Navbar */
.navbar
{
    h1
    {
        margin: 0;
        font-size: large;
    }
    button.nav-button
    {
        display: block;
        text-align: start;
        box-shadow: none;
        width: 100%;
        &:focus
        {
            outline: 1px dotted;
        }
    }
}


/* Containers */
.container-inner
{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    @include media-breakpoint-down(sm) {
        max-width: 15rem;
    }
    @include media-breakpoint-down(md) {
        max-width: 45rem;
    }
    @include media-breakpoint-down(lg) {
        max-width: 60rem;
    }
    @include media-breakpoint-up(xl) {
        max-width: 100rem;
    }
}
.container-response
{
    color: $white;
    background-color: $blue-green;
}

/* Text */
.text-underline
{
    text-decoration: underline;
}

/* Errors */
.error
{
    @extend .is-invalid;
}