@mixin create-grid($col-size, $row-size: null) {
    display: grid;
    grid-template-columns: repeat($col-size, 1fr);
    @if $row-size != null {
        grid-auto-rows: $row-size;
    }
    
    .grid-cell
    {
        width: 100%;
        height: 100%;
        position: relative;
        $grid-sizes: (
            "1": 1,
            "2": 2,
            "3": 3,
            "4": 4,
            "5": 5,
            "6": 6,
        );
        @each $breakpoint in map-keys($grid-breakpoints)
        {
            @include media-breakpoint-up($breakpoint, $grid-breakpoints)
            {
                $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
                @each $span, $value in $grid-sizes
                {
                    &.r#{$infix}-#{$span}
                    {
                        grid-row: span #{$value};
                    }
                    &.c#{$infix}-#{$span}
                    {
                        grid-column: span #{$value};
                    }
                }
            }
        }
    }
}

.form-grid {
    .form-body {
        @extend .row;
        margin: 0;
    }
    .form-row {
        @extend .row;
        
        > div {
            padding: .5rem 1rem .5rem 1rem;
        }
    }
    .form-row-bold {
        @extend .row;
        font-weight: bold;
        > div {
            padding: .5rem 1rem .5rem 1rem;
        }
    }
    .form-row-input {
        @extend .row;
        
        > div {
            padding: .5rem 1rem .5rem 1rem;
        }
    }
    .form-header {
        @extend .row;
        font-weight: bold;
        margin: 0;

        > div {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }
    .form-submission {
        @extend .row;
        margin: 0;

        > div {
            padding-top: .5rem;
            padding-bottom: .5rem;
        }
    }
}

.table-simple
{
    background-color: $blue-dark;

    tbody
    {
        border-top-color: $gray-400 !important;
        background-color: white;

        tr
        {
            td
            {
                padding: 0.1rem;
                input:not(:focus)
                {
                    border: 0 !important;
                    border-radius: 0;
                }
            }
        }
    }
}
.table-row-link:hover
{
    cursor: pointer;
    
    td
    {
        background-color: $gray-600;
    }
}