/* Overlay */
$overlay-color: $white;
$overlay-bg: $tp-dark;

/* Backgrounds */
$body-color: $white;
$body-bg: $blue-dark;

$title-color: $white;
$title-bg: $blue-green;

$section-color: $white;
$section-bg: $blue-dark;

$section-alt-color: $black;
$section-alt-bg: $gray-400;

/* Borders */
$border-color: $white;